*{
	padding: 0;
	margin: 0;

}

.container{
	width: 1200px;
    margin: 0 auto;
}

/*Bannner*/

.banner{
	display: grid;
	/*justify-content: center;*/
	/*align-content: center;*/
	/*background: url("../backend/img/curio-prinsentuin-oudenbosch-klas.jpg");*/
	background-color: #03357c;
	height: 400px;
}
.bannertext h1{
	font-family: 'Cairo', sans-serif;
	color: #f8aecd;
	font-weight: bolder;
	font-size: 5em;
	padding-top: 5%;
}
.bannertext h2{
	font-family: 'Cairo', sans-serif;
	color: #f8aecd;
	font-size: 2em;
}

/*main*/

.maincontent{
	background-color:#f8aecd;
}

.maincontent h3{
	color: #03357c;
	font-size: 2.2em;
}

.maincontent p{
		font-family: 'Quicksand', sans-serif; 
		color: #03357c;
		font-size: 0.9em;
}

.articles{
	display: grid;
  grid-template-columns: 50% 50%;
  padding: 2% 0;
}

.article{
	padding: 3%;
}

.article img{
	width: 290px;
	height: 170px;
	float: left;
	padding: 0 5%;
}


.article a{
	color: #78034B;
	font-weight: bold;
}