/* ---===HEADER===--- */
  h1{
    padding-top: 30px;
    margin-top: 0;
  }
/* ---===BODY===--- */
  body{
    font-family: 'Cairo', sans-serif ;
  }
  body,footer h4{
    margin: 0;
    padding:0;
  }
/* ---===BANNER===--- */
 .banner{
    background-color:#03357c;
    height: 400px;
  }
    .bannertext h1{
      font-family: 'Cairo', sans-serif;
      color:  #f8aecd;
      font-weight: bolder;
      font-size: 5em;
      padding-top: 5%;
/* ---===FOOTER===--- */
    } 
  footer{
    height: 6em;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #03357c;
    color:#f8aecd;
  }
    footer img{
      margin: 6px;
    }
/* ---===HELPER===--- */
  .center{
    text-align: center;
  }
  .size{
    width: 1200px;
    margin: 0 auto;
  }