
.container{
  width: 1200px;
    margin: 0 auto;
}
h1, h2, h3{
  font-family: 'Cairo', sans-serif;
      color:  #f8aecd;
}
p{
  font-family: 'Quicksand', sans-serif; 
}

/* ---===BANNER===--- */
 .banner{
    background-color:#03357c;
    height: 250px;
  }
    .bannertext h1{
      font-family: 'Cairo', sans-serif;
      color:  #f8aecd;
      font-weight: bolder;
      font-size: 4em;
    }

/*//Main//*/

main{
  background-color: #f8aecd;
}

.articles{
  display: grid;
  grid-template-columns: 65% 30%;
  padding: 3% 0;
  grid-gap: 2%;
}
.article{
  padding: 2%;
}
.articles h2{
  color: #03357c;
}
.article img{
  padding: 1%;
  width: 200px;
}
.articleimg{
  padding:4%;
}