
*{
	padding: 0;
	margin: 0;

}

.container{
	width: 1200px;
    margin: 0 auto;
}

/*Bannner*/

.banner{
	display: grid;
	/*justify-content: center;*/
	/*align-content: center;*/
	/*background: url("../backend/img/curio-prinsentuin-oudenbosch-klas.jpg");*/
	background-color: #03357c;
	height: 400px;
}
.bannertext h1{
	font-family: 'Cairo', sans-serif;
	color: #f8aecd;
	font-weight: bolder;
	font-size: 5em;
	padding-top: 5%;
}

/*Login*/

.login{
	background: #f8aecd;
	padding: 50px 0px;
}

/*main*/


a {
  text-decoration: none;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 0 auto;
  width: 329px;
  padding: 15px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #03357c;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: #03357c;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #03357c;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 60px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #03357c;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #889fbf, #03357c);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #889fbf, #03357c);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
