
/*font-family: 'Cairo', sans-serif;
font-family: 'Quicksand', sans-serif;*/

*
{
    padding: 0;
    margin: 0;
}
header
{
    padding: 3% 0% 3% 0%;
    background: #03357c;
}
header .container
{
    width: 60%;
    margin: 0 auto;
    background: transparent;
}
header nav
{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
header .links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .links a
{
<<<<<<< Updated upstream
    padding: 15px 0px 15px 0px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    color: #f8aecd;
    font-size: 2rem;
    font-weight: bold;
}
header .links a:hover
{
    color: #ffffff;
}
header .logo
{
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
}
header .logo a
{
    display: flex;
    justify-content: center;
}
header .logo img
{
    width: 40%;
}
.header 
{
    background: #03357c;
    position: fixed;
    top: 0;
    width: 100%
}
  

/*headerstart*/
.start header
{
    padding: 0% 0% 0% 0%;
    background: #ffcc00;
}
.start header .container
{
    width: 60%;
    margin: 0 auto;
    background: transparent;
}
.start header nav
{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.start header .start-links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.start header .start-links a
{
    padding: 15px 0px 15px 0px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    color: #03357c;
    font-size: 2rem;
    font-weight: bold;
}
.start header .start-links a:hover
{
    color: #ffffff;
}
.start header .start-logo
{
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
}
.start header .start-logo a
{
    display: flex;
    justify-content: center;
}
.start header .start-logo img
{
    width: 40%;
}
.start .header 
{
    background: #ffcc00;
    position: fixed;
    top: 0;
    width: 100%
}

/*footer*/
footer{
    height: 6em;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #03357c;
    color:#f8aecd;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}
footer img{
    margin: 10px;
}
/*instruction page*/
.instructionContainer{
    display:flex;
    flex-direction: row-reverse;
=======
=======
*{
    margin:0;
    padding:0;
}

/*instruction page*/
.container{
    display:flex;
>>>>>>> Stashed changes
    border:1px black solid;
    padding:10px;
    background:gray;
}
/*instructions*/
<<<<<<< Updated upstream
.instructions{
=======
.instructions{/*temp*/
>>>>>>> Stashed changes
    background:blue;
    width:60%;
    min-height:800px;
    padding:3%;
}
<<<<<<< Updated upstream
.instruction{
=======
.instruction{/*temp*/
>>>>>>> Stashed changes
    background:grey;
    border: 2px solid black;
    padding:10px;
    min-height: 100px;
}
.instruction image{
    width:100%;
}
.instruction video{
    width:100%;
}
.addInstruction{
    margin:auto;
    width:80%
}
.addInstruction button{
    width:100%;
    height:100px;
}
/*info & controls*/
.instructionsControls{
<<<<<<< Updated upstream
    background:yellow;/*temp*/
    width:35%;
    min-height:100px;
    max-height:100px;
=======
    background:yellow
    ;width:35%;
    height:500px;
>>>>>>> Stashed changes
}
.instructionsInfo{
    background:red;
    padding:10px
}
.instructionsTitle{
    text-align:center;
    height:30px;
    border:grey 1px solid;
    background:lightgray;
}
.instructionsCreator{
    display:flex;
    justify-content:center;
    align-items:center;
}
.infoDetails{
    padding:25px
}
.controls{
    background:green;
    padding:20px;
}
.controls .remove{
<<<<<<< Updated upstream
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    column-gap: 1px;
}
#qrBlock{
    flex-direction: column;
    padding-top:10px;
}
.controls button{
    width:100px;
    height:50px;
}
.controls input{
    display: none;
    color: red;
    width:100px;
    height:50px;
}
.controls img{
    padding: 10px;
    border: 2px black solid;
    background: grey;
}
/*============ ADMIN EN ACCOUNT PAGINA============== */
.twobanner{
	display: grid;
	background-color: #03357c;
    height: 400px;
}
.twobanner h1{
	font-family: 'Cairo', sans-serif;
	color: #f8aecd;
	font-weight: bolder;
	font-size: 5em;
    padding-top: 5%;
}
.twocontainer{
    background: #f8aecd;
    padding: 50px 0px;
    height: 426px;
}
.admincontainer{
    background: #f8aecd;
    padding: 50px 0px;
    height: 426px;
}
.align{
    width: 200px;
    display: inline-block;
}
.cursor{
    cursor: pointer;
}
.card{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    padding: 15px; 
}
ul{
    margin-left: 20px;
}
ul li{
    list-style:circle;
}
ul li a{
    text-decoration: none;
}
.edit-button{
    background: #03357c;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #03357c;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 153px;
    display: inline;
}
.delete-button{
    display: inline;
    background:red;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px red;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    transition: 0.25s;
    width: 153px;
}
.toedit-button{
    margin-top: 20px;
}
.toedit-button a{
    text-decoration: none;
    background: #03357c;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #03357c;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    display: inline;
    padding: 5px;
}
.delete-card{
    margin-top: 20px;
}
option[value=""][disabled] {
    display: none;
  }
.pink{
    background: #f8aecd;
}
.small-size{
    width: 360px;
    margin-left: 26%;
}
.size{
    width: 1200px;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
}
th, td {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    border-radius: 10px;
  }

/* ========================= */

@media only screen and (max-width: 1300px){
    .instructionContainer{
        padding-top:2%;
    }
}
@media only screen and (max-width: 1200px){
    .instructionContainer{
        padding-top:3%;
    }
}
@media only screen and (max-width: 900px){
    .instructionContainer{
        display: block;
        padding-top:5%;
    }
    .instructions{/*temp*/
        width:94%;
        margin: auto;
        min-height:800px;
    }
    .instructionsControls{
        width:100%;
        padding-bottom: 15%;
    }
    .controls{
        display: none;
    }
}
@media only screen and (max-width: 800px){
    .instructionContainer{
        display: block;
    }
}
@media only screen and (max-width: 750px){
    .instructionContainer{
        padding-top:14%;
    }
}
@media only screen and (max-width: 650px){
    .instructionContainer{
        padding-top:20%;
    }
}
@media only screen and (max-width: 550px){
    .instructionContainer{
        padding-top:23%;
    }
}
@media only screen and (max-width: 500px){
    .instructionContainer{
        padding-top:25%;
    }
=======
    margin:auto;
    width:100px
}

.controls .remove button{
    width:100px;
    height:50px;
>>>>>>> ca0efef9fcab6b2963142464dd367299049b5445
>>>>>>> Stashed changes
}