
/*font-family: 'Cairo', sans-serif;
font-family: 'Quicksand', sans-serif;*/

*
{
    padding: 0;
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header
{
    padding: 3% 0% 3% 0%;
    background: #03357c;
}
header .container
{
    width: 60%;
    margin: 0 auto;
    background: transparent;
}
header nav
{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
header .links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .links a
{
    padding: 15px 0px 15px 0px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    color: #f8aecd;
    font-size: 2rem;
    font-weight: bold;
}
header .links a:hover
{
    color: #ffffff;
}
header .logo
{
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
}
header .logo a
{
    display: flex;
    justify-content: center;
}
header .logo img
{
    width: 40%;
}
.header 
{
    background: #03357c;
    position: fixed;
    top: 0;
    width: 100%
}
  

/*headerstart*/
.start header
{
    padding: 0% 0% 0% 0%;
    background: #ffcc00;
}
.start header .container
{
    width: 60%;
    margin: 0 auto;
    background: transparent;
}
.start header nav
{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.start header .start-links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.start header .start-links a
{
    padding: 15px 0px 15px 0px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    color: #03357c;
    font-size: 2rem;
    font-weight: bold;
}
.start header .start-links a:hover
{
    color: #ffffff;
}
.start header .start-logo
{
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
}
.start header .start-logo a
{
    display: flex;
    justify-content: center;
}
.start header .start-logo img
{
    width: 40%;
}
.start .header 
{
    background: #ffcc00;
    position: fixed;
    top: 0;
    width: 100%
}

/*footer*/
footer{
    width: 100%;
    justify-content: space-between;
    background-color: #03357c;
    color:#f8aecd;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}
footer img{
    margin: 10px;
}
/*instruction page*/
.instructionContainer{
    display:flex;
    flex-direction: row-reverse;
    border:1px black solid;
    padding:10px;
    background:#03357c;
    font-family: 'Cairo', sans-serif;
}
.instructionContainer h2{
    font-family: 'Quicksand', sans-serif;
}
/*instructions*/
.instructions{
    background:none;
    width:60%;
    min-height:750px;
    padding:3%;
}
.instructions iframe{
    width: 100%;
    height: 100%;
    min-height: 70vh;
    overflow: hidden;
    /*min-height: 800px;*/
}
.instruction{
    background:#01563f;
    color: #f8aecd;
    border: 2px solid black;
    padding:10px;
    min-height: 100px;
    max-width: 100%;
}
.instruction img{
    min-width: 100%;
    max-width:100%;
    max-height: 100%;
}
.instruction iframe{
    width:100%;
    height:100%;
    min-height: 360px;
    align-items: center;
}
.addInstruction{
    margin:auto;
    width:80%
}
.addInstruction button{
    width:100%;
    height:100px;
}
.controlContainer{
    width: 100%;
    margin-bottom: 35px;
}
.control{
    float: right;
    padding: 5px;
}
.control input{
    background: none;
    border: none;
    font-size: larger;
}
.control input:hover{
    color: white;
}
.overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(90, 90, 90, 0.5);
    overflow: hidden;
}
.addWindow{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 400px;
    padding: 20px;
    border-radius: 5%;
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
.addWindow button{
    width: 25px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.addWindow select{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
}
.addWindow textarea{
    display: block;
    position:absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%);
    width: 350px;
    height: 200px;
    padding: 1px;
    font-size: larger;
}
.addWindow input[type=file]{
    display: none;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
.addWindow input[type=text]{
    display: none;
    position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    padding: 5px;
    transform: translate(-50%);
}
.addWindow input[type=submit]{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 30px;
    border-radius: 10%;
}
.addWindow label{
    display: none;
    position:absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}

/*info & controls*/
.instructionsControls{
    background: #03357c;
    width:35%;
    min-height:100px;
    max-height:100px;
}
.instructionsInfo{
    padding:10px;
    color: #f8aecd;
    background: #03357c;
    border: 2px solid black;
}
.instructionsTitle{
    text-align:center;
    height:30px;
    border:grey 1px solid;
    background:darkgreen;
}
.instructionsCreator{
    display:flex;
    justify-content:center;
    align-items:center;
}
.infoDetails{
    padding:25px
}
.controls{
    background: #03357c;
    padding:20px;
}
.controls .remove{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    column-gap: 1px;
}
.userchanger{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    width: 450px;
    height: 300px;
}
.userchanger form{
    width: 100%;
    height: 100%;
}
.userchanger input[type=text]{
    display: inline;
    height: 30px;
    padding: 5px;
    font-size: larger;
}
.userchanger input[type=submit]{
    display: block;
    color: black;
    width: 150px;
}
.userchanger label{
    display: inline;
}
#qrBlock{
    flex-direction: column;
    padding-top:10px;
}
.controls button{
    width:100px;
    height:50px;
    border-radius: 15%;
}
.controls input{
    display: none;
    color: red;
    width:100px;
    height:50px;
}
.controls img{
    padding: 10px;
    border: 2px black solid;
    background: grey;
}

.flex{
    display: flex;
}
/*============ ADMIN EN ACCOUNT PAGINA============== */
.twobanner{
	display: grid;
	background-color: #03357c;
    height: 400px;
}
.twobanner h1{
	font-family: 'Cairo', sans-serif;
	color: #f8aecd;
	font-weight: bolder;
	font-size: 5em;
    padding-top: 5%;
}
.twocontainer{
    background: #f8aecd;
    padding: 50px 0px;
    height: 426px;
}
.admincontainer{
    background: #f8aecd;
    padding: 50px 0px;
    height: 426px;
}
.align{
    width: 200px;
    display: inline-block;
}
.cursor{
    cursor: pointer;
}
.card{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    padding: 15px; 
}
ul{
    margin-left: 20px;
}
ul li{
    list-style:circle;
}
ul li a{
    text-decoration: none;
}
.edit-button{
    background: #03357c;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #03357c;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 153px;
    display: inline;
}
.delete-button{
    display: inline;
    background:red;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px red;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    transition: 0.25s;
    width: 153px;
}
.toedit-button{
    margin-top: 20px;
}
.toedit-button a{
    text-decoration: none;
    background: #03357c;
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #03357c;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    display: inline;
    padding: 5px;
}
.delete-card{
    margin-top: 20px;
}
option[value=""][disabled] {
    display: none;
  }
.pink{
    background: #f8aecd;
}
.small-size{
    width: 360px;
    margin-left: 26%;
}
.size{
    width: 1200px;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
}
th, td {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    border-radius: 10px;
  }
/* ========================= */

@media only screen and (max-width: 1300px){
    .instructionContainer{
        padding-top:2%;
    }
}
@media only screen and (max-width: 1200px){
    .instructionContainer{
        padding-top:3%;
    }
}
@media only screen and (max-width: 900px){
    .instructionContainer{
        display: block;
        padding-top:5%;
    }
    .instructions{/*temp*/
        width:94%;
        margin: auto;
    }
    .instructionsControls{
        width:100%;
        padding-bottom: 15%;
    }
    .controls{
        display: none;
    }
}
@media only screen and (max-width: 800px){
    .instructionContainer{
        display: block;
    }
}
@media only screen and (max-width: 750px){
    .instructionContainer{
        padding-top:14%;
    }
}
@media only screen and (max-width: 650px){
    .instructionContainer{
        padding-top:20%;
    }
}
@media only screen and (max-width: 550px){
    .instructionContainer{
        padding-top:23%;
    }
}
@media only screen and (max-width: 500px){
    .instructionContainer{
        padding-top:25%;
    }
    .addWindow{
        width: 100vw;
    }
}
@media only screen and (max-width: 400px){
    .instructionContainer{
        padding-top:25%;
    }
    .addWindow{
        width: 100vw;
    }
    .addWindow textarea{
        width: 90vw;
    }
}